lang en_US
keyboard us
timezone Etc/GMT --isUtc
rootpw $2b$10$ktGQjKC/7xR/hDzsJ9.Obu1z0nId.2HFzOMJPxwzyxtiMruh/c7EG --iscrypted
#platform x86_64
reboot
cdrom
bootloader --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
auth --passalgo=sha256 --useshadow
selinux --enforcing
firewall --enabled
firstboot --disable
network --activate
%post --nochroot
hostnamectl set-hostname satellite.example.com
hostnamectl --pretty set-hostname satellite.example.com
cp /etc/hostname /mnt/sysimage/etc/hostname
cp /etc/machine-info /mnt/sysimage/etc/machine-info
%end
%packages
@^graphical-server-environment
@base
%end
